{% extends "layout.html" %}

{% block content %}
<div class="box special">
    <div id="container">
        <div class="container">
            <div class="row">
                <!--left sidebar---->
                <aside  class="col-sm-3 left-sidebar">
                    <div class="box category">
                        <div class="box-heading">
                            <h3>Categories <i class="fa fa-angle-up"></i></h3>
                        </div>

                        <div class="box-content test">
                            <div class="box-category">
                                <ul class="menu">
                                    <li><a href="{{ url_for('product') }}" class="custom_hover">Antic images</a></li>
                                    <li><a href="{{ url_for('product') }}" class="custom_hover">Drawing</a>
                                        <i class="fa fa-plus"></i>
                                        <ul>
                                            <li>
                                                <a class="parent" href="{{ url_for('product') }}">Praesent imperdiet</a><i class="fa fa-plus"></i>
                                                <ul>
                                                    <li><a href="{{ url_for('product') }}">Aliquam eget</a></li>
                                                    <li><a href="{{ url_for('product') }}">Lorem ipsum</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="{{ url_for('product') }}">Aenean viverra</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="{{ url_for('product') }}" class="custom_hover">New Media</a></li>
                                    <li><a href="{{ url_for('product') }}" class="custom_hover">painting</a></li>
                                    <li><a href="{{ url_for('product') }}" class="custom_hover">Fine art</a></li>
                                    <li><a href="{{ url_for('product') }}" class="custom_hover">Photography</a></li>
                                    <li><a href="{{ url_for('product') }}" class="custom_hover">Decorative art</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="box special">
                        <div class="box-heading">
                            <h3>Special</h3>
                        </div>
                        <div class="box-content">
                            <div class="product-layout">
                                <ul class="list-unstyled">
                                    <li>
                                        <div class="product-thumb transiction">
                                            <a class="compare-button"><i class="fa fa-retweet"></i></a>
                                            <a class="wishlist-button"><i class="fa fa-heart-o"></i></a>
                                            <div class="image"><a href="{{ url_for('single_product') }}"><img src="static/images/img1.jpg" class="img-responsive"></a></div>
                                            <div class="caption">
                                                <div class="product-name"><a>Texture Design</a></div>
                                                <div class="price">
                                                    <span class="price-new">Kshs. 34.90</span>
                                                    <span class="price-old">Kshs. 49.50</span>
                                                </div>
                                            </div>
                                            <div class="cart-button">
                                                <a class="btn btn-add-cart" href="{{url_for('cart')}}">
                                                    <span>
                                                        Add to Cart </span>
                                                    <i class="fa fa-shopping-cart"></i>
                                                </a>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
                <!--end sidebar-->

                <!--main content-->
                <div class="col-sm-9 checkout-page" id="content">
                    <ul class="breadcrumb">
                        <li><a href="{{url_for('login')}}"><i class="fa fa-home"></i></a></li>
                        <li><a href="{{url_for('cart')}}">Cart</a></li>
                    </ul>
                    <h1>Shopping Cart &nbsp;(35.00kg)</h1>
                    <br/>
                    <form class="shoping-cart-view">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <td class="text-center">Image</td>
                                        <td class="text-left">Product Name</td>
                                        <td class="text-left">Model</td>
                                        <td class="text-left">Quantity</td>
                                        <td class="text-right">Unit Price</td>
                                        <td class="text-right">Total</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center"> <div class="image">
                                                <a href="{{ url_for('single_product') }}"><img class="img-thumbnail" src="static/images/img1.jpg" width="100"></a></div>
                                        </td>
                                        <td class="text-left"><a href="{{ url_for('single_product') }}">Texture Design</a>
                                            <br>
                                            <small>Color: black</small>
                                            <br>
                                            <small>Size: Medium</small>
                                            <br>
                                            <small>Reward Points: 200</small>
                                        </td>
                                        <td class="text-left">Product 3</td>
                                        <td class="text-center">
                                            <div style="max-width: 200px;" class="input-group btn-block">
                                                <p class="clearfix">
                                                    <input type="text" id="cart-q" class="form-control cart-q" size="1" value="1"></p>
                                                <div>
                                                    <button class="btn btn-custom"  type="submit" ><i class="fa fa-refresh"></i></button>
                                                    <button class="btn btn-custom"  type="button" ><i class="fa fa-times-circle"></i></button>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right"><div class="price">Kshs. 194.50</div></td>
                                        <td class="text-right"><div class="price price-total">Kshs. 194.50</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <h2>What would you like to do next?</h2>
                    <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
                    <div id="accordion" class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="accordion-toggle" href="#collapse-coupon">Use Coupon Code <i class="fa fa-caret-down"></i></a></h4>
                            </div>
                            <div class="panel-collapse collapse in" id="collapse-coupon">
                                <div class="panel-body">
                                    <label for="input-coupon" class="col-sm-2 control-label">Enter Your Coupon Code Here</label>
                                    <div>
                                        <input type="text" class="form-control" id="input-coupon" placeholder="Enter your coupon  code here" value="" name="coupon">
                                        <span>
                                            <input type="button" class="btn btn-custom"  id="button-coupon" value="Apply Coupon">
                                        </span></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapse-voucher">Use Gift Voucher <i class="fa fa-caret-down"></i></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="collapse-voucher" style="height: auto;">
                                <div class="panel-body">
                                    <label for="input-voucher" class="col-sm-2 control-label">Enter Your Gift Voucher Code Here</label>
                                    <div>
                                        <input type="text" class="form-control" id="input-voucher" placeholder="Enter your gift voucher code here" value="" name="voucher">
                                        <span>
                                            <input type="submit" class="btn btn-custom"  id="button-voucher" value="Apply Voucher">
                                        </span> </div>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="accordion-toggle" href="#collapse-shipping">Estimate Shipping &amp; Taxes <i class="fa fa-caret-down"></i></a></h4>
                            </div>
                            <div class="panel-collapse collapse" id="collapse-shipping" style="height: auto;">
                                <div class="panel-body">
                                    <p>Enter your destination to get a shipping estimate.</p>
                                    <form class="form-horizontal">
                                        <div class="form-group required">
                                            <label for="input-country" class="col-sm-2 control-label">Country</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" id="input-country" name="country_id">
                                                    <option value=""> --- Please Select --- </option>
                                                    <option value="1">India</option>
                                                    <option value="2">U.K</option>
                                                    <option value="3">U.S.A</option>
                                                    <option value="4">Japan</option>
                                                    <option value="5">Malaysia</option>
                                                </select> 
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <label for="input-zone" class="col-sm-2 control-label">Region / State</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" id="input-zone" name="zone_id">
                                                    <option value=""> --- Please Select --- </option>
                                                    <option value="3513">Gujarat</option>
                                                    <option value="3514">Manchester</option>
                                                    <option value="3515">New Jersey</option>
                                                    <option value="3516">Tokyo</option>
                                                    <option value="3517">Johor</option>     
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <label for="input-postcode" class="col-sm-2 control-label">Post Code</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="input-postcode" placeholder="Post Code" value="Enter Proper Post Code" name="postcode">
                                            </div>
                                        </div>
                                        <input type="button" class="btn btn-custom"  id="button-quote" value="Get Quotes">
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered">
                                <tbody><tr>
                                        <td class="text-right"><strong>Sub-Total:</strong></td>
                                        <td class="text-right"><div class="price">Kshs. 1,034.50</div></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right"><strong>Eco Tax (-2.00):</strong></td>
                                        <td class="text-right"><div class="price">Kshs. 2.00</div></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right"><strong>VAT (20%):</strong></td>
                                        <td class="text-right"><div class="price">Kshs. 206.90</div></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right"><strong>Total:</strong></td>
                                        <td class="text-right"><div class="price">Kshs. 1,243.40</div></td>
                                    </tr>
                                </tbody></table>
                        </div>
                    </div>
                    <div class="buttons">
                        <div class="pull-left"><a class="btn btn-custom" href="{{ url_for('product') }}">Continue Shopping</a></div>
                        <div class="pull-right"><a class="btn btn-custom" href="{{url_for('checkout')}}">Checkout</a></div>
                    </div>
                </div>
                <!--end main content-->
            </div>
        </div>
    </div>
{% endblock content %}